/* Coolors Exported Palette - coolors.co/a2faa3-92c9b1-4f759b-5d5179-571f4e */

$color1: #a2faa3; //rgba(162, 250, 163, 100)
$color2: #92c9b1; //rgba(146, 201, 177, 100)
$color3: #4f759b; //rgba(79, 117, 155, 100)
$color4: #5d5179; //rgba(93, 81, 121, 100)
$color5: #571f4e; //rgba(87, 31, 78, 100)
$gold: #8B8A32;